.home {
  font-family: 'Poppins', sans-serif;

  .search-button {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(154, 50%, 50%);
    color: white;
    font-size: 18px;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
  }
}
