.home {
  .search-form-container {
    max-width: 700px;
    margin: auto;

    .text-field {
      font-family: 'Poppins', sans-serif;
      padding: 5px 10px;
      font-size: 16px;
      margin-right: 10px;
    }

    .search-button {
      background-color: hsl(154, 50%, 50%);
      color: white;
      font-size: 18px;
      padding: 8px 20px;
      border: none;
      border-radius: 5px;
      margin: 10px;
    }
  }
  
  .recipe-results {
    max-width: 800px;
    margin: auto;
  }
}
