.recipe-snippet {
  display: flex;
  margin: 20px;
  padding: 20px;
  border: 1px solid lightgray;
  max-width: 800px;

  .recipe-snippet-right {
    padding: 0 20px;

    p {
      color: gray;
      text-align: left;
    }

    .more-info {
      text-align: right;
    }
  }
}
