.multiselect-checkbox {
  font-family: 'Poppins', sans-serif;
  max-width: 500px;
  margin: auto;
  margin-top: 16px;

  .multiselect-label {
    color: white;
    margin: 4px;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: left;
  }

  .multiselect-field {
    color: gray;
    background-color: white;
    text-align: left;
    min-width: 240px;
    padding: 10px 16px 9px 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;

    .filters-container {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      .selected-option {
        font-family: 'Poppins', sans-serif;
        background-color: lightgray;
        color: white;
        border: none;
        padding: 5px 10px;
        margin: 5px;
        display: flex;
        align-items: center;

        .close {
          background: none;
          color: white;
          border: none;
          padding: 0;
          margin-left: 10px;
        }
      }
    }
  }

  .multiselect-dropdown {
    height: 240px;
    width: 500px;
    border: 1px solid lightgray;
    border-radius: 5px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    margin-top: 3px;
    position: absolute;
    z-index: 100;

    .multiselect-filter {
      text-align: left;
      padding: 10px 18px;

      input:hover {
        cursor: pointer;
      }

      label {
        margin-left: 10px;
        width: 100%;
      }
    }
  }

  .hidden {
    display: none;
  }
}
